body {
  font-family: "roboto", sans-serif;
  margin: 0;
}
@media (min-width: 1440px) {
  body {
    width: 1440px;
    margin: auto;
  }
}

h1,
h2,
h3,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  font-family: "Shrikhand", cursive;
}

h3 {
  font-size: 18px;
}

h4 {
  font-weight: 300;
  margin-top: 40px;
}

h5 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

h6 {
  font-size: 15px;
  font-weight: 300;
}

.search::placeholder {
  color: black;
}

.button {
  font-size: 16px;
  font-weight: 700;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  color: #FFFFFF;
  border: none;
  margin-top: 40px;
  background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
  opacity: 1;
  transition: all 0.4s;
}
.button:hover {
  opacity: 0.85;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25), -4px 4px 10px rgba(0, 0, 0, 0.25);
}
.button--welcome {
  width: 218px;
  margin-top: 27px;
}
.button--menu {
  display: flex;
  align-items: center;
}

.fa-heart {
  font-size: 22px;
  position: absolute;
}

.heart-clic {
  position: absolute;
  color: transparent;
  background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 1s;
}
.heart-clic:hover {
  opacity: 1;
}

.heart-menu {
  top: 42px;
}

.button--menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerbar {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-bottom: 20px;
  padding-right: 10px;
  box-sizing: border-box;
}
@media (min-width: 800px) {
  .footerbar {
    flex-direction: row-reverse;
    gap: 20px;
    padding-bottom: 30px;
    padding-top: 64px;
    padding-right: 20px;
    align-items: center;
    flex-wrap: wrap;
  }
}
.footerbar__infos {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 800px) {
  .footerbar__infos {
    flex-direction: row;
  }
}
.footerbar--menu {
  margin-top: -20px;
}
.footerbar__logo {
  font-weight: 400;
  font-style: italic;
  padding-top: 22px;
  padding-bottom: 11px;
  font-family: Shrikhand, cursive;
}
@media (min-width: 800px) {
  .footerbar__logo {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.footerbar__notextdecoration {
  text-decoration: none;
  color: white;
}

.footerbar__restaurant-suggestion,
.footerbar__partner {
  display: flex;
  flex-direction: row;
}

.footerbar__restaurant-suggestion {
  gap: 11px;
}

.footerbar__partner {
  gap: 10px;
}

.navbar {
  text-align: center;
}

.navbar .navbar__form--part1,
.navbar .navbar__form .search {
  background-color: #EAEAEA;
}
.navbar .navbar__form--part2 {
  background-color: #F7F7F7;
}

.navbar .navbar__form--part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar .navbar__form .search {
  border: none;
  text-align: start;
  width: 130px;
  font-size: 16px;
  font-weight: 500;
}

.navbar .navbar__form--part2 {
  padding-top: 39px;
  padding-bottom: 57px;
}
@media (min-width: 375px) {
  .navbar .navbar__form--part2 {
    padding-bottom: 43px;
  }
}
.navbar .navbar__form--part2__tittle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.navbar .navbar__form--part2__subtittle {
  font-size: 18px;
  font-weight: 300;
}

.header {
  padding-top: 14px;
  padding-bottom: 5px;
}
.header__logo {
  width: 162px;
}
.header--welcome {
  display: flex;
  justify-content: center;
}
.header--restaurant a {
  width: 58%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
}
.header--restaurant a .fa-arrow-left {
  font-size: 20px;
  margin-left: 23px;
  margin-right: 65px;
}

.section-functioning {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 20px;
}
@media (min-width: 376px) {
  .section-functioning {
    padding-left: 10%;
    padding-right: 10%;
  }
}
.section-functioning__steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 16px;
  font-weight: 500;
  padding-top: 26px;
  padding-bottom: 68px;
}
@media (min-width: 376px) {
  .section-functioning__steps {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
  }
}
.section-functioning .section-functioning__steps--button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 72px;
  background-color: #F7F7F7;
  border-radius: 25px;
  position: relative;
  z-index: -1;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
@media (min-width: 500px) and (max-width: 900px) {
  .section-functioning .section-functioning__steps--button {
    width: 100%;
  }
}
.section-functioning .section-functioning__steps--number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  color: white;
  background-color: #9356DC;
  position: relative;
  z-index: 0;
  top: 45px;
  left: -15px;
}
.section-functioning .fa-mobile-screen-button,
.section-functioning .fa-list {
  color: #7E7E7E;
}
.section-functioning .fa-store {
  color: #9356DC;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-mobile-screen-button {
  margin-left: 10px;
  margin-right: 10px;
}

.fa-list {
  margin-left: 10px;
  margin-right: 10px;
}

.step {
  position: relative;
  width: 100%;
}
@media (min-width: 1000px) {
  .step {
    width: 30%;
    max-width: 471px;
  }
}

.section-restaurant {
  background-color: #F7F7F7;
  padding-top: 54px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 376px) {
  .section-restaurant {
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
  }
}
.section-restaurant__global-card {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 20px;
  padding-bottom: 66px;
}
@media (min-width: 376px) {
  .section-restaurant__global-card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
}
@media (min-width: 1400px) {
  .section-restaurant__global-card {
    gap: 90px;
  }
}

.section-restaurant__card {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
@media (min-width: 800px) {
  .section-restaurant__card {
    width: 48%;
    max-width: 500px;
  }
}
.section-restaurant__card__new {
  position: relative;
}
.section-restaurant__card__new__text {
  font-size: 14px;
  color: #008766;
  background-color: #99E2D0;
  text-align: center;
  padding: 7px 9px 6px 9px;
  position: absolute;
  right: 5%;
  top: 5%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.section-restaurant__card__title {
  font-size: 18px;
  font-weight: 700;
  padding-left: 13px;
}
.section-restaurant__card__subtitle {
  font-size: 17px;
  font-weight: 300;
  padding-left: 13px;
  padding-top: 5px;
  padding-bottom: 12px;
}
.section-restaurant__card__lien-menu {
  text-decoration: none;
  color: black;
}
.section-restaurant__card__infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 35px;
  padding-top: 16px;
}

.section-restaurant img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 231px;
  object-fit: cover;
}

.section-img__restaurant {
  width: 100%;
  height: 275px;
  object-fit: cover;
  position: relative;
  order: 2;
}

.order {
  background-color: #F7F7F7;
  border-radius: 25px 25px 0 0;
  position: relative;
  top: -20px;
  padding-top: 32px;
  padding-bottom: 40px;
  padding-left: 3%;
  padding-right: 3%;
}
@media (min-width: 1024px) {
  .order {
    width: 60%;
    margin: auto;
  }
}

.menu {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .menu {
    align-items: center;
  }
}
.menu__tittle {
  display: flex;
  justify-content: space-between;
  margin-right: 6%;
}
@media (min-width: 376px) {
  .menu__tittle {
    justify-content: center;
    gap: 40px;
  }
}

.menu__tittle--underline {
  text-decoration: underline 3px #99E2D0;
  text-underline-offset: 8px;
}

.menu__article {
  width: 100%;
}
@media (min-width: 1024px) {
  .menu__article {
    width: 60%;
  }
}

.menu__choice {
  background-color: white;
  transform: scaleX(0);
  height: 50px;
  border-radius: 15px;
  margin-bottom: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  position: relative;
  overflow: hidden;
}
.menu__choice__subtittle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: -1;
}
.menu__choice__price {
  display: inline-block;
  font-weight: 700;
  padding-right: 15px;
  transform: translateX(0);
  transition: all 0.5s;
}
.menu__choice .fa-circle-check {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  width: 60px;
  height: 100%;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  z-index: 0;
  top: 0%;
  right: -60px;
  transform: translatex(0);
  transition: all 0.5s;
}
.menu__choice:hover .menu__choice__price {
  transform: translateX(-55px);
}
.menu__choice:hover .fa-circle-check {
  transform: translateX(-100%);
}
.menu__choice:hover h6 {
  width: 65%;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.starter,
.main,
.dessert,
.dessert-b,
.main-b {
  transform: scaleX(0);
}

.menu__choice,
.starter,
.main-b,
.main,
.dessert,
.dessert-b {
  animation: choice 1s;
  animation-fill-mode: forwards;
  transform-origin: 50% 0%;
}

.choice2,
.choice-b {
  animation-delay: 1s;
}

.choice3,
.choice-c {
  animation-delay: 2s;
}

.choice4,
.choice-d,
.main {
  animation-delay: 3s;
}

.choice5,
.choice-e,
.main-b {
  animation-delay: 4s;
}

.choice6,
.choice-f {
  animation-delay: 5s;
}

.choice7,
.choice-g,
.dessert {
  animation-delay: 6s;
}

.choice8,
.choice-h,
.dessert-b {
  animation-delay: 7s;
}

.choice9,
.choice-i {
  animation-delay: 8s;
}

.choice-j {
  animation-delay: 9s;
}

@keyframes choice {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes choice2 {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.utensils-loader {
  color: #9356DC;
  font-size: 50px;
  animation: utensils-loader 5s;
}
@media (min-width: 1024px) {
  .utensils-loader {
    font-size: 80px;
  }
}

.utensils-loader--2 {
  margin-left: 30px;
  margin-right: 30px;
}
@media (min-width: 1024px) {
  .utensils-loader--2 {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@keyframes utensils-loader {
  to {
    transform: rotate(0);
  }
  from {
    transform: rotate(-360deg);
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #F7F7F7;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  animation: page-loader 0.3s ease-in-out;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}
@media (min-width: 1440px) {
  .loader {
    width: 1440px;
    margin: auto;
  }
}

@keyframes page-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -2;
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
