.navbar {
    text-align: center;
}

.navbar .navbar__form{
    &--part1,
    .search {
        background-color:#EAEAEA ;
    }
    &--part2{
        background-color: $main-grey-color;
    }
 }

 .navbar .navbar__form{
    &--part1{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:17px;
        padding-top: 15px;
        padding-bottom: 15px;  
    }
    .search{
        border: none;
        text-align: start;
        width: 130px;
        font-size: 16px;
        font-weight: 500;
    }   
}  
 
.navbar .navbar__form--part2{
    padding-top: 39px;
    padding-bottom: 57px;
    @media (min-width:375px) {
        padding-bottom: 43px;
    }
    &__tittle{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__subtittle{
        font-size: 18px;
        font-weight: 300;
    }
}
