.footerbar{
    background-color:$dark-grey;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-right: 10px;
    box-sizing: border-box;
    @media (min-width:800px) {
        flex-direction: row-reverse;
        gap:20px;
        padding-bottom: 30px;
        padding-top: 64px;
        padding-right: 20px;
        align-items: center;
        flex-wrap: wrap;
    }
    &__infos{
        display: flex;
        flex-direction: column;
        gap:7px;
        @media (min-width:800px) {
            flex-direction: row;
        }
    }
    &--menu{
        position: relative;
        top:-20px;
        
    }
    &__logo{
        font-weight: 400;
        font-style: italic;
        padding-top: 22px;
        padding-bottom: 11px;
        @include font-family-title;
        @media (min-width:800px) {
            padding-bottom: 0px;
            padding-top: 0px;
        }
    }
    &__notextdecoration{
        text-decoration: none;
        color: white;
    }
}
.footerbar__restaurant-suggestion,
.footerbar__partner
{
    display: flex;
    flex-direction: row;
}

.footerbar__restaurant-suggestion{
    gap:11px;
}

.footerbar__partner{
    gap:10px;
}
