.header{
    padding-top: 14px;
    padding-bottom: 5px;
    &__logo{
        width: 162px;
   
    }
    &--welcome{
    display: flex;
    justify-content: center;    
    }
    &--restaurant a{
    width: 58%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    .fa-arrow-left{
        font-size: 20px;
        margin-left: 23px;
        margin-right: 65px;
    }
   }
}


