.section-functioning{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 20px;
    @media (min-width:376px)and (max-width:1000px) {
        padding-left: 10%;
        padding-right: 10%;
    }
    @media (min-width:1000px) and (max-width:1100px) {
        padding-left: 10%;
        padding-right: 2%;
    }
    @media (min-width:1100px) {
        padding-left: 10%;
        padding-right: 10%;
    }
    &__steps{
        display: flex;
        flex-direction: column;
        gap:25px;
        font-size: 16px;
        font-weight: 500;
        padding-top: 26px;
        padding-bottom: 68px;
        @media (min-width:376px) {
            flex-direction: row;
            flex-wrap: wrap; 
            gap:40px;
            justify-content: flex-start;
        }
    }
.section-functioning__steps__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 72px;
    background-color: $main-grey-color;
    border-radius: 25px;
    position: relative;
    @include box-shadow-button-grey;
    @media (min-width:500px) and (max-width:900px) {
        width: 100%;
    }
}

  .fa-mobile-screen-button,
  .fa-list{
        color: $grey;
    }
    .fa-store{
        color: $purpule-color;
        margin-right:25px;
    }
    .fa-mobile-screen-button{
        margin-right: 22px;
    }
    .fa-list {
        margin-right: 30px;
    }
}

.section-functioning__steps__number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    color: white;
    background-color:$purpule-color;  
    position:absolute;
    z-index: 1;
    top: 25px;
    left: -10px;
}

.step{
    position: relative;
    width: 100%;
    @media (min-width:1000px) {
        width: 30%;
    }  
}



.section-restaurant{
    background-color: $main-grey-color;
    padding-top: 54px;
    padding-left: 10px;
    padding-right: 10px;
    @media (min-width:376px) {
        padding-top: 30px;
        padding-left: 10%;
        padding-right:10%;
    }

       
    &__global-card{
        display: flex;
        flex-direction: column;
        gap:18px;
        padding-top: 20px;
        padding-bottom: 66px;
        @media (min-width:376px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap:20px;
        }
        @media (min-width:1400px) {
            gap:90px;
        }

    }
}

.section-restaurant__card{
    width: 100%;
    background: #FFFFFF;
    @include box-shadow-card;
    border-radius: 15px;

    @media (min-width:800px)and (max-width:1000px) {
        max-width: 300px;
        
    }
    @media (min-width:1000px)and (max-width:1100px) {
        max-width: 390px;
    }
    @media (min-width:1100px)and (max-width:1200px) {
        max-width: 420px;

    }
    @media (min-width:1201px)and (max-width:1300px) {
        max-width: 471px;

    }
    @media (min-width:1300px) {
        max-width: 498px;
    }
    &__new{
        position: relative;
        &__text{
            font-size: 14px;
            color:$dark-green ;
            background-color:$green-mint;
            text-align: center;
            padding:7px 9px 6px 9px;
            position:absolute;
            right: 5%;
            top:5%;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
        }
    }

    &__title{
        font-size:18px;
        font-weight: 700;
        padding-left: 13px;
    }
    &__subtitle{
        font-size:17px;
        font-weight:300;
        padding-left: 13px;
        padding-top: 5px;
        padding-bottom: 12px;
    }
    &__lien-menu{
        text-decoration: none;
        color: black;
    }
    &__infos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-right: 35px;
        padding-top: 16px;
    }
    .fa-heart{
        font-size: 22px;
    }
}

.fa-heart{
    position: absolute;
}

.heart-clic{
    color: transparent;
    @include LG-pinkviolet;
    background-clip: text;
    -webkit-background-clip: text;
    opacity:0;
    &:hover{
        opacity: 1;
        animation-name: heart-clic;
        animation-duration: 0.5s;
       
        }
}
@keyframes heart-clic{
    from {
        opacity: 0;
    }
    to {
        opacity:1;
    }
}

.section-restaurant img{
    border-radius:15px 15px 0 0;
    width:100%;
    height: 231px;
    object-fit: cover;
}






