.section-img {
    &__restaurant{
    width: 100%;
    height: 275px;
    object-fit:cover;
    position: relative;
    order:2;
    }
}

.order{
    background-color:$main-grey-color;
    border-radius: 25px 25px 0 0;
    position: relative;
    top:-20px;
    padding-top: 32px;
    padding-bottom: 40px;
    padding-left: 3%;
    padding-right: 3%;
    @media (min-width:1024px) {
        width:60%;
        margin: auto;
        }
}

.menu{
    display: flex;
    flex-direction: column;
    @media (min-width:1000px) {
        align-items: center;
    }
    &__tittle{
        display: flex;
        gap:40px;
    }
}

.menu__tittle--underline{
    text-decoration: underline 3px $green-mint ;
    text-underline-offset:8px;
}

.menu__article{
    width:100%;
    @media (min-width:1024px) {
        width: 60%;
    }
}
.menu__choice{
    background-color: white;
    transform: scaleX(0);
    height: 50px;
    border-radius: 15px;
    margin-bottom: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    position: relative;
    overflow: hidden;
    

    &__subtittle{
        display: flex;
        flex-direction: row;
        justify-content:space-between ;
        z-index: -1;
    }
    &__price{
        display: inline-block;
        font-weight: 700;
        padding-right: 15px;
        transform: translateX(0);
        transition: all 0.5s; 
    }
    .fa-circle-check{
        display:flex ;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: $green-mint;
        border-radius:0 15px 15px 0;
        width: 60px;
        height: 100%;
        font-weight: 700;
        font-size: 18px;
        position: absolute;
        z-index: 0;
        top:0%;
        right: -60px;
        transform: translatex(0);
        transition: all 0.5s;   
      }
    &:hover .menu__choice__price{
        transform: translateX(-55px);
    }
    &:hover .fa-circle-check{
        transform: translateX(-100%);   
    }
    &:hover h6{
    width: 65%;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
}

.starter,
.main,
.dessert,
.dessert-b,
.main-b{
    transform: scaleX(0);
}

.menu__choice,
.starter,
.main-b,
.main,
.dessert,
.dessert-b
{
    animation: choice 1s;
    animation-fill-mode: forwards;
    transform-origin: 50% 0%;
}

.choice2,
.choice-b{
    animation-delay: 1s;
}

.choice3,
.choice-c{
    animation-delay: 2s;
}

.choice4,
.choice-d,
.main{
    animation-delay: 3s;
}

.choice5,
.choice-e,
.main-b{
    animation-delay: 4s;
}

.choice6,
.choice-f{
    animation-delay: 5s;
}

.choice7,
.choice-g,
.dessert{
    animation-delay: 6s;
}

.choice8,
.choice-h,
.dessert-b{
    animation-delay: 7s;
}

.choice9,
.choice-i{
    animation-delay: 8s;
}

.choice-j{
    animation-delay: 9s;
}
@keyframes choice{
0%{
transform:scaleY(0);
}

100%{
    transform:scaleY(1);
}
}

@keyframes choice2{
0%{
transform:scaleY(0);
}

100%{
    transform:scaleY(1);
}
}

   





