body{
    font-family:'roboto',sans-serif;
    width:375px;
    margin: 0;    
    @media (min-width:376px) {
        width: 100%;
    }
    @media (min-width:1440px) {
        width:1440px;
        margin: auto;
    }

}

h1,
h2,
h3,
h5,
h6,
p{
     margin: 0;
}

h1{
    font-size:24px;
}

h2{
    font-size: 28px;
    font-weight: 300;
    font-family: 'Shrikhand', cursive;
  
}

h3{
    font-size: 18px;
}

h4{
    font-weight: 300;
    margin-top: 40px;
}

h5{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}

h6{
    font-size: 15px;
    font-weight: 300;
}